TZ=Etc/UTC
PUID=1000
PGID=1000

CELERY_BEAT_CONTAINER_NAME=weatherdata_celery_beat
CELERY_WORKER_CONTAINER_NAME=weatherdata_celery_worker

DYNACONF_LOG_LEVEL=INFO
DYNACONF_TZ="Etc/UTC"

DYNACONF_WEATHERAPI_LOCATION_NAME=London
DYNACONF_WEATHERAPI_API_KEY=<CHANGE-ME>

DYNACONF_CELERY_LOG_LEVEL=INFO
DYNACONF_CELERY_BROKER_HOST=weatherdata_rabbitmq
DYNACONF_CELERY_BROKER_PORT=5672
DYNACONF_CELERY_BROKER_USERNAME=rabbitmq
DYNACONF_CELERY_BROKER_PASSWORD=<CHANGE-ME>
DYNACONF_CELERY_BROKER_VHOST=rabbitmq

DYNACONF_CELERY_BACKEND_HOST=weatherdata_redis
DYNACONF_CELERY_BACKEND_PORT=6379
DYNACONF_CELERY_BACKEND_PASSWORD=<CHANGE-ME>

DYNACONF_DB_TYPE=sqlite
DYNACONF_DB_DRIVERNAME="sqlite+pysqlite"
DYNACONF_DB_USERNAME=
DYNACONF_DB_PASSWORD=
DYNACONF_DB_HOST=
DYNACONF_DB_PORT=
DYNACONF_DB_DATABASE=/weatherdata/db/db.sqlite3
DYNACONF_DB_ECHO=false
