## Default: (named volume) redis_data
REDIS_DATA_DIR=
## Default: 6379
REDIS_PORT=
## Default: redis
REDIS_PASSWORD=

## Default: 8081
REDIS_COMMANDER_PORT=
## Default: admin
REDIS_COMMANDER_HTTP_USER=
## Default: admin
REDIS_COMMANDER_HTTP_PASSWORD=

## Default: 5672
RABBITMQ_AMPQ_PORT=
## Default: 15672
RABBITMQ_HTTP_PORT=
## Default: rabbitmq
RABBITMQ_USER=
## Default: rabbitmq
RABBITMQ_PASS=
## Default: rabbitmq
RABBITMQ_VHOST=

## Default: sqlite
WEATHERDATA_DB_TYPE=
## Default: "sqlite+pysqlite"
WEATHERDATA_DB_DRIVERNAME=
## Default: (none/unset)
WEATHERDATA_DB_USERNAME=
## Default: (none/unset)
WEATHERDATA_DB_PASSWORD=
## Default: (none/unset)
WEATHERDATA_DB_HOST=
## Default: (none/unset)
WEATHERDATA_DB_PORT=
## Default: db.sqlite3
WEATHERDATA_DB_DATABASE=
## Default: false
WEATHERDATA_DB_ECHO=
