DYNACONF_LOG_LEVEL=INFO
DYNACONF_TZ=Etc/UTC

DYNACONF_CELERY_BEAT_CONTAINER_NAME=weatherdata_celery_beat
DYNACONF_CELERY_WORKER_CONTAINER_NAME=weatherdata_celery_worker

DYNACONF_CELERY_LOG_LEVEL=INFO
DYNACONF_CELERY_BROKER_HOST=weatherdata-rabbitmq
DYNACONF_CELERY_BROKER_PORT=5672
DYNACONF_CELERY_BROKER_USERNAME=rabbitmq
DYNACONF_CELERY_BROKER_PASSWORD=rabbitmq
DYNACONF_CELERY_BROKER_VHOST=rabbitmq

DYNACONF_CELERY_BACKEND_HOST=weatherdata-redis
DYNACONF_CELERY_BACKEND_PORT=6379
DYNACONF_CELERY_BACKEND_PASSWORD=redis

DYNACONF_WEATHERDATA_DB_TYPE=sqlite
DYNACONF_WEATHERDATA_DB_DRIVERNAME="sqlite+pysqlite"
DYNACONF_WEATHERDATA_DB_USERNAME=
DYNACONF_WEATHERDATA_DB_PASSWORD=
DYNACONF_WEATHERDATA_DB_HOST=
DYNACONF_WEATHERDATA_DB_PORT=
DYNACONF_WEATHERDATA_DB_DATABASE=db.sqlite3
DYNACONF_WEATHERDATA_DB_ECHO=false
