## Default: weatherdata_celery_beat
CELERY_BEAT_CONTAINER_NAME=
## Default: weatherdata_celery_worker
CELERY_WORKER_CONTAINER_NAME=

## Default: INFO
CELERY_LOG_LEVEL=
## Default: rabbitmq
CELERY_BROKER_HOST=
## Default: 5672
CELERY_BROKER_PORT=
## Default: rabbitmq
CELERY_BROKER_USERNAME=
## Default: rabbitmq
CELERY_BROKER_PASSWORD=
## Default: /
CELERY_BROKER_VHOST=
## Default: redis
CELERY_BACKEND_HOST=
## Default: 6379
CELERY_BACKEND_PORT=
## Default: (none/unset)
CELERY_BACKEND_PASSWORD=

## Default: sqlite
WEATHERDATA_DB_TYPE=
## Default: "sqlite+pysqlite"
WEATHERDATA_DB_DRIVERNAME=
## Default: (none/unset)
WEATHERDATA_DB_USERNAME=
## Default: (none/unset)
WEATHERDATA_DB_PASSWORD=
## Default: (none/unset)
WEATHERDATA_DB_HOST=
## Default: (none/unset)
WEATHERDATA_DB_PORT=
## Default: db.sqlite3
WEATHERDATA_DB_DATABASE=
## Default: false
WEATHERDATA_DB_ECHO=
