export DIRENV_ENV=${DIRENV_ENV:-dev}

## Source env file
if [[ "$DIRENV_ENV" ]]; then
    if [[ "$DIRENV_ENV" == "prod" ]]; then
        source ".direnv/.prod"
        source ".direnv/.secrets.prod"
    elif [[ "$DIRENV_ENV" == "rc" ]]; then
        source ".direnv/.rc"
        source ".direnv/.secrets.rc"
    else
        source ".direnv/.dev"
        source ".direnv/.secrets.dev"
    fi
else
    source ".direnv/.dev"
fi
