export DIRENV_ENV=${DIRENV_ENV:-dev}

## Unload direnv before launching tmux, avoid issues with
#  env vars in subshells when launching tmux with direnv activated
alias tmux='direnv exec / tmux'

function init_env() {
    local _env=$DIRENV_ENV

    mkdir -p ".direnv/${_env}"

    if [[ ! -f ".direnv/${_env}/.env" ]]; then
        {
            echo "export ENV_FOR_DYNACONF=${_env:-dev}" >> .direnv/${_env:-dev}/.env
            echo "export DYNACONF_DB_DATABASE='.db/${_env:-dev}-db.sqlite3'" >> .direnv/${_env:-dev}/.env
        } >> ".direnv/${_env}/.env"
    fi

    if [[ ! -f ".direnv/${_env}/.secrets" ]]; then
        cp .direnv/.secrets.example ".direnv/${_env}/.secrets"
    fi
}

## Initialize .direnv/ & env files
init_env

## Source env file
if [[ "$DIRENV_ENV" ]]; then
    if [[ "$DIRENV_ENV" == "prod" ]]; then
        source ".direnv/prod/.env"
        source ".direnv/prod/.secrets"
    elif [[ "$DIRENV_ENV" == "rc" ]]; then
        source ".direnv/rc/.env"
        source ".direnv/rc/.secrets"
    else
        source ".direnv/dev/.env"
        source ".direnv/dev/.secrets"
    fi
else
    source ".direnv/dev/.env"
    source ".direnv/dev/.secrets"
fi

## Run a git fetch if in a git repo
if on_git_branch; then
    echo && git status --short --branch &&
    echo && git fetch --verbose
fi
