## Copy this file to .direnv/.dev or .direnv/.prod
#  Update values for environnment, then set an
#  env var $DIRENV_ENV=[prod|dev|rc].
#  Direnv will react according to the $DIRENV_ENV value.
#  Delete this comment after copying this file.
export ENV_FOR_DYNACONF=[prod|rc|dev]
