## Copy this file to .direnv/.secrets.dev or .direnv/.secrets.prod
#  Update values for environnment, then set an
#  env var $DIRENV_ENV=[prod|dev|rc].
#  Direnv will react according to the $DIRENV_ENV value.
#  Delete this comment after copying this file.

export SOME_SECRET_STRING="jbaworetboijbo2"
export API_KEY="00000000-00000000-00000000"
