## Default: rabbitmq
RABBITMQ_CONTAINER_NAME=
## Default: rabbitmq
RABBITMQ_USER=
## Default: rabbitmq
RABBITMQ_PASS=
## Default: rabbitmq
RABBITMQ_VHOST=
## Default: 5672
RABBITMQ_AMPQ_PORT=
## Default: 15672
RABBITMQ_HTTP_PORT=
## Default: ./data/rabbitmq
RABBITMQ_DATA_DIR=
## Default: ./logs/rabbitmq
RABBITMQ_LOGS_DIR=
## Default: ./provision/rabbitmq.config
RABBITMQ_CONFIG_FILE=
## Default: ./provision/rabbitmq.enabled_plugins
RABBITMQ_ENABLED_PLUGINS_FILE=

## Default: redis
REDIS_CONTAINER_NAME=
## Default: ./data/redis
REDIS_CACHE_DIR=
## Default: 6379
REDIS_PORT=

## Default: redis-commander
REDIS_COMMANDER_CONTAINER_NAME=
## Default: 8081
REDIS_COMMANDER_PORT=
